<div class="form">
	<h1 class="header"><span id="blood-new-user">Blood</span><span id="cell-new-user">Cell</span></h1>
	<h3 class="new-user">NEW USER</h3>
	<div class="input">
	<%= form_for @user do |f|%>
		
		
		<%= f.text_field :username, placeholder: "User Name" %>
		<br>
		
		<br>
		<%= f.password_field :password, placeholder: "Password" %>
		<br><br>
		<%= f.submit :submit%>

	<% end %>
	</div>
</div>