// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// *{
// 	margin:0 auto;
// }
@media all and (min-width: 769px){
	
	body{
		// background-image{
		// width: 100%;
  //  height: 100%;
   background-image: url("cheap_diagonal_fabric.png");
	}

	div.wrapper{
		// margin: 0 auto;
		// height:500px;
		width:30%;
		background-color: #F2635F;
		// border: 1 px solid black;
		border-radius: 10px;
		margin-top: 40%;
		padding: 10px;
	}

	#blood{
		text-color: black;
		font-family: verdana;
	}

	#cell{
		color: white;
		font-family: arial;
	}

	#slogan{
		margin-left: 30px;
		// margin-bottom:5%;
	}

	#powered{
		color: blue;
		margin-left: 50px;
	}

	#badhan {
		color: yellow;
	}

	input[type=text]{
		width: 35%;
		padding:5px;
		margin:3px;
		border-radius: 5px;
		text-align: center;

		// color: black;
		// will change the color of the text inside the box.
	}

	input[type=submit]{
		// color: black;
	 //  width: 130px;
	 //  cursor: position;
	 //  border-radius: 6px;
	 //  height: 50px;
		background-color: white;
    color: black;
    // border: 4px solid #f44336;
    cursor: position;
	  border-radius: 6px;
	  width: 160px;

		// color: black;
		// will change the color of the text inside the box.
	}

	.login{
		color: white;
	}

	.submit-button{
	  color: black;
	  width: 130px;
	  cursor: position;
	  border-radius: 6px;
	  height: 50px;
	  /*add any other properties you want to style*/
	}

	// #login:hover {
	//     background-color: #008CBA;
	//     color: white;
	// }
	#link-tag a{
		color:#034f84;
		font-family: arial;
		text-decoration: none;
		// font-weight: bold;
	}

	// .password input {
	// 	color: green;
	// }

	.main{
		margin:0 auto;
		// height:500px;
		margin-top: 5%;
		width:32%;
		text-align: center;
		background-color: #F2635F;
		border: 1 px solid black;
		border-radius: 6px;
		// text-align: center;
		// display: ;
	}

	.modal{
		// height: 300px;
		width: 300px;
		background-color:black;
		margin: 0 auto;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		display: none;
	}

	.modal-header{
		padding:10px;
		text-align:center;
		border-bottom: 1px solid grey;
		color:green;
	}

	.modal-content{
		color: yellow;
		// padding:10px;
		// overflow: scroll;
		text-align:center;

	}

	.modal-content{
	}

	.button{
		padding:3px;
		margin-top: 10px;
		// display:block;
	}
}