// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// *{
// 	margin:0 auto;
// }
body{
	// background-color:white;
	font-family:verdana;

}
div.wrapper{
	// background-color:red;
	margin:0 auto;
	// height:900px;
	width:400px;
	text-align: center;
	background-color: #F2635F;
	border: 1 px solid black;

}
.header{

}

#blood{
	color: red;
	// background-color:white;
	text-color: balck;
}
#cell{
	color: white;
}
.username {
	color: green;
}
input[type=text][type=submit] {
	width: 20%;
	padding:5px;
	margin:3px;
	border-radius: 3px;

	// color: black;
	// will change the color of the text inside the box.

}
.login{
	color: white;
}

.password input {
	color: green;
}

.signin{

}

.modal{

	// height: 300px;
	width: 300px;
	background-color:black;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: none;


}
.modal-header{
	padding:10px;
	text-align:center;
	border-bottom: 1px solid grey;
	color:green;

}
.modal-content{
	color: yellow;
	// padding:10px;
	// overflow: scroll;
	text-align:center;


}
.modal-content{
}

.button{
	padding:3px;
	margin-top: 10px;
	// display:block;

}