@media all and (max-width: 768px) and (min-width: 481px){
	// .background-image{
	// 	width: 100%;
 //   height: 100%;
 // //   // background: url(victory-day-1.jpg) no-repeat center center fixed;
	// // }
	body{
		background-color:white;
	}

	div.wrapper{
		margin: 0 auto;
		// height:600px;
		width:70%;
		background-color:rgb(255, 153, 153);
		border: 1 px solid black;
		border-radius: 10px;
		margin-top: 8%;
		padding: 10px;
	}

	#blood{
		text-color: black;
		font-family: verdana;
	}

	#cell{
		color: white;
		font-family: arial;
	}
	#slogan{
		margin-left: 50px;
		// margin-bottom:5%;
	}
	#powered{
		color: blue;
		margin-left: 50px;
	}
	#badhan {
		color: yellow;
	}

	input[type=text]{
		width: 35%;
		padding:5px;
		margin:3px;
		border-radius: 5px;

		// color: black;
		// will change the color of the text inside the box.
	}

	input[type=submit]{
		width: 35%;
		// padding:5px;
		// margin:3px;
		border-radius: 5px;

		// color: black;
		// will change the color of the text inside the box.
	}

	.login{
		color: white;
	}

	// .button-login{
	//   color: black;
	//   width: 130px;
	//   cursor: position;
	//   border-radius: 6px;
	//   height: 50px;
	// }
	// .button:hover {
	//     background-color: #008CBA;
	//     color: white;
	// }
	#link-tag a{
		color: white;
		font-family: arial;
		text-decoration: none;
	}

	// .password input {
	// 	color: green;
	// }

	.main{
		margin:0 auto;
		// height:500px;
		width:70%;
		text-align: center;
		background-color: rgb(255, 153, 153);
		border: 1 px solid black;
		border-radius: 6px;
		margin-top: 8%;
		padding: 10px;
		// text-align: center;
		// display: ;
	}

	.modal{

		// height: 300px;
		width: 300px;
		background-color:black;
		margin: 0 auto;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		display: none;


	}
	.modal-header{
		padding:10px;
		text-align:center;
		border-bottom: 1px solid grey;
		color:green;

	}
	.modal-content{
		color: yellow;
		// padding:10px;
		// overflow: scroll;
		text-align:center;


	}
	.modal-content{
	}

	.button{
		padding:3px;
		margin-top: 10px;
		// display:block;

	}
}