// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media all and (min-width: 769px){
	div.wrapper{
		margin:0 auto;
		// height:500px;
		margin-top: 5%;
		width:30%;
		text-align: center;
		background-color: #F2635F;
		border: 1 px solid black;
		border-radius: 6px;
		padding: 5px;
	}
	// table, th, td {
	// 	text-align: center;
	// 	  border: 1px solid black;
	// }

	table {
	    border-collapse: collapse;
	    width: 100%;
	    text-decoration: none;
	    
	}

	th, td {
	    padding: 8px;
	    text-align: left;
	    // text-decoration: none;
	    // border-bottom: 1px solid #ddd;
	}

	tr:hover{background-color:#f5f5f5}


	.form{
		margin: 0 auto;
		height:370px;
		width:380px;
		background-color: #F2635F;
		border: 1 px solid black;
		border-radius: 10px;
		margin-top: 10%;
		padding: 10px;
	}

	#blood-new-user{
		text-color: black;
		font-family: verdana;
		margin-left: 30%;
	}

	#cell-new-user{
		color: white;
		font-family: arial;
	}
	.new-user{
		margin-left: 38%;
		font-family: tahoma;
		color: white;

	}

	.input{
		text-align: center;
		padding: 10px;
		margin-top: 5%;
	}


	input[type=password]{
		width: 35%;
		padding:5px;
		margin:10px;
		border-radius: 5px;

		// color: black;
		// will change the color of the text inside the box.
	}

	input[type=submit]{
		width: 35%;
		padding:5px;
		margin:10px;
		border-radius: 5px;

		// color: black;
		// will change the color of the text inside the box.
	}
}